@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

.container {
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(to bottom, #8E32B3, #FFB2DD);
  width: 100vw; /* Memastikan kontainer memenuhi seluruh lebar layar */
  height: 100vh; /* Memastikan kontainer memenuhi seluruh tinggi layar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container::before {
  content: ''; /* Menambahkan elemen pseudo before */
  position: absolute; /* Menetapkan posisi absolut */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../image/bgvover.png'); /* Menambahkan background image */
  background-size: cover; /* Mengatur ukuran gambar agar menutupi seluruh area kontainer */
  background-position: center; /* Mengatur posisi gambar agar berada di tengah */
  z-index: 1; /* Menetapkan z-index lebih tinggi daripada background linier */
}

.welcome {
 
    font-size: 80px;
    color: #ffffff;
    font-family: "Aldrich", sans-serif;
    text-shadow: 2px 2px 4px #5D0A9D; /* Shadow standar */

}



.tagline {
  font-size: 25px;
  color: #ffffff;
  font-family: "Aldrich", sans-serif;
  margin-top: 0;
}
.welcome,
.tagline,
.space,
#startButton {
  position: relative;
  z-index: 2; 
  margin-left: 100px;
  margin-bottom: 0;
}

.welcome, .tagline {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white; /* Warna teks utama */
  position: relative;
  
}

#jarak{
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 40px;
}

.welcome::before, .tagline::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  color: black; /* Warna teks belakang */
}



#startButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
}

#startButton:hover {
  background-color: #0056b3;
}

.space {
  margin-top: 20px;
}

.space a {
  margin-right: 10px;
}

.space a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: transform 0.3s;
}

.space a img:hover {
  transform: scale(1.2);
}


 .pixel2 {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: "Aldrich", sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel2:active {
  top: 2px;
}




.pixel2 {
  position: relative;
  display: block;
  margin: 10px;
  font-family: "Aldrich", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color: white;
}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #402F5C;
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: #402F5C;
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: #402F5C;
  width: 130px;
  height: 70px;
  margin-left: 100px;
  z-index: 2;
}

.container_welcome{
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .welcome {
    font-size: 12vw;
  }
  .tagline {
    font-size: 4vw;
  }
  #jarak {
    font-size: 5vw;
    margin-top: 2vw;
    margin-bottom: 10vw;
  }

  .container_welcome{
    margin-left: 0px;
  }

  .welcome,
.tagline,
.space,
#startButton {
  position: relative;
  z-index: 2; 
  margin-left: 8vw;
  margin-bottom: 0;
}

  
  .pixel2 {
    font-size: 4vw;
    padding: 8px 12px;
    width: 100px;
    margin-left: 8vw;
    height: 50px;
  }

  .space{
    margin-bottom: 20vw;
  }
}